<div class="container-fluid text-bg-dark">
    <div class="row text-center  align-items-center">
        <div class="col-6 mt-3">
            <a class="h1 text-decoration-none align-items-center" href="#">The Worst Moment</a>
            <p class="mt-2">Dolores, Buenos Aires</p>
        </div>
        <div class="col-6 text-center">
            <p class="h5 mb-3 mt-3">REDES</p>
            <div class="h6 mb-3">
                <a href="" class="link-primary text-decoration-none">Instagram</a>
            </div>
            <div class="h6 mb-3">
                <a href="" class="link-danger text-decoration-none">Youtube</a>
            </div>
        </div>
        <div class="col-12">
            <p class="mt-3">Todos los derechos reservados 2023.</p>
        </div>
    </div>
</div>