<div class="container-fluid">
    <div class="row align-items-center bg-dark bg-gradient text-white">
        <div class="col-12 mb-3 p-4 text-center">
            <h1 class=" border-bottom border-secondary">NOSOTROS</h1>
        </div>
        <div class="col-6 mb-5 p-3 text-end">
            <p class="fw-medium">Hace más de 30 años, Luca decidió abrir una juguetería en el corazón de la ciudad. Luca siempre había sido un apasionado de los juguetes y quería compartir su amor por ellos con la gente de la comunidad.</p>
        </div>
        <div class="col-6 mb-5 p-3 text-center">
            <img src="../../assets/caballo-mecedora.png" width="120" height="110" alt="...">
        </div>
        <div class="col-6 mb-5 p-3 text-center">
            <img src="../../assets/juguete.png" width="120" height="110" alt="...">
        </div>
        <div class="col-6 mb-5 p-3">
            <p class="fw-medium">La tienda comenzó modestamente, pero rápidamente se hizo un nombre en la comunidad por su selección única y la atención personalizada que recibían los clientes. La tienda se enfocó en ofrecer juguetes de alta calidad y durabilidad que fomentaran la creatividad y la imaginación de los niños.</p>
        </div>
        <div class="col-6 mb-5 p-3 text-end">
            <p class="fw-medium">Con el paso de los años y la evolución de la tecnología, la juguetería ha expandido su presencia en línea para poder llegar a una audiencia aún más amplia. Ahora, además de la tienda física, la juguetería cuenta con una página web donde los clientes pueden explorar su selección de juguetes y realizar compras en línea desde la comodidad de su hogar.</p>
        </div>
        <div class="col-6 mb-5 p-3 text-center">
            <img src="../../assets/dinosaurio.png" width="120" height="110" alt="...">
        </div>
    </div>
</div>