<div class="container-fluid">
    <div class="row  bg-dark bg-gradient text-white">
        <div class="col-12 p-4 text-center">
            <h1 class="border-bottom border-secondary">CONTACTENOS</h1>
        </div>
        <div class="col-4 p-4 text-center border-end border-secondary">
            <div class="mb-4">
                <img src="../../assets/correo-electronico-vacio.png" alt="Bootstrap" width="60" height="54">
            </div>
            <h4 class="mb-4">EMAIL:</h4>
            <p class="mt-5">Nuestro email disponible para todo tipo de consultas:</p>
            <p>lucadobler01@gmail.com</p>
        </div>
        <div class="col-4 p-4 text-center">
            <div class="mb-4">
                <img src="../../assets/medios-de-comunicacion-social.png" alt="Bootstrap" width="65" height="59">
            </div>
            <h4 class="mb-4">NUESTRAS REDES:</h4>
            <div class="mt-5">
                <p>Puedes seguir nuestro canal de youtube donde mostramos algunos de nuestros juguetes:<p>
                <a href="https://www.youtube.com/"  Target="_blank"><button type="button" class="btn btn-outline-danger">Youtube</button></a>
            </div>
            <div class="mt-4 mb-2">
                <h4>Instagram</h4>
                <p>Este es nuestro instagram donde dia a dia subimos ofertas y nuevos ingresos:</p>
                <iframe class="mt-2" width="320" height="375" src="https://www.instagram.com/luquita.dobler/embed" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-4 p-4 text-center border-start border-secondary">
            <div class="mb-4">
                <img src="../../assets/ubicacion.png" alt="Bootstrap" width="60" height="54">
            </div>
            <h4 class="mb-4">DIRECCIÓN:</h4>
            <p class="mt-5">Puedes visitarnos en nuestras oficinas en:</p>
            <p class="fst-italic">VUCETICH, DOLORES</p>
            <p class="fst-italic">BUENOS AIRES</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d654.1131789993041!2d-57.66576600927252!3d-36.30995217326873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sar!4v1687274645759!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="border border-black rounded-3"></iframe>
        </div>
    </div>
</div>