<div class="container-fluid border">
    <div class="row">
        <div class="col-12 p-4 text-center">
            <h1 class="">CONTACTENOS</h1>
        </div>
        <div class="col-4 p-4 text-center">
            <div class="mb-4">
                <img src="../../assets/correo-electronico-vacio.png" alt="Bootstrap" width="60" height="54">
            </div>
            <h4 class="mb-4 text-decoration-underline">EMAIL:</h4>
            <p>Nuestro email disponible para todo tipo de consultas:</p>
            <p>lucadobler01@gmail.com</p>
        </div>
        <div class="col-4 p-4 text-center">
            <div class="mb-4">
                <img src="../../assets/medios-de-comunicacion-social.png" alt="Bootstrap" width="65" height="59">
            </div>
            <h4 class="mb-4 text-decoration-underline">NUESTRAS REDES:</h4>
            <div>
                <p>Puedes seguir nuestro canal de youtube donde mostramos algunos de nuestros juguetes:<p>
                <a href="https://www.youtube.com/"  Target="_blank"><button type="button" class="btn btn-outline-danger">Youtube</button></a>
            </div>
            <div class="mt-4 mb-2">
                <p>Este es nuestro instagram donde dia a dia subimos ofertas y nuevos ingresos:</p>
                <a href="https://www.instagram.com/" Target="_blank"><button type="button" class="btn btn-outline-primary">Instagram</button></a>
            </div>
        </div>
        <div class="col-4 p-4 text-center">
            <div class="mb-4">
                <img src="../../assets/ubicacion.png" alt="Bootstrap" width="60" height="54">
            </div>
            <h4 class="mb-4 text-decoration-underline">DIRECCIÓN:</h4>
            <p>Puedes visitarnos en nuestras oficinas en:</p>
            <p class="fst-italic">VUCETICH, DOLORES</p>
            <p class="fst-italic">BUENOS AIRES</p>
        </div>
    </div>
</div>